<window>
	<defaultcontrol always="true">9000</defaultcontrol>
	<allowoverlay>no</allowoverlay>
	<controls>
		<include>CommonBackground</include>
		<control type="group">
			<posx>0</posx>
			<posy>0</posy>
			<animation type="WindowOpen" reversible="false">
				<effect type="zoom" start="80" end="100" center="640,360" easing="out" tween="back" time="300" />
				<effect type="fade" start="0" end="100" time="300" />
			</animation>
			<animation type="WindowClose" reversible="false">
				<effect type="zoom" start="100" end="80" center="640,360" easing="in" tween="back" time="300" />
				<effect type="fade" start="100" end="0" time="300" />
			</animation>
			<control type="image">
				<description>LOGO</description>
				<posx>30</posx>
				<posy>10</posy>
				<width>240</width>
				<height>110</height>
				<aspectratio>keep</aspectratio>
				<texture>xbmc-logo.png</texture>
			</control>
			<control type="panel" id="9000">
			            <posx>30</posx>
                        <posy>110</posy>
                        <width>1265</width>
                        <height>500</height>
                        <onleft>9000</onleft>
                        <onright>9001</onright>
                        <onup>9000</onup>
                        <ondown>9000</ondown>
                        <pagecontrol>-</pagecontrol>
                        <scrolltime>300</scrolltime>
						<orientation>Horizontal</orientation>
                        <itemlayout height="150" width="420">
                                <control type="image">
                                        <posx>250</posx>
                                        <posy>0</posy>
                                        <width>150</width>
                                        <height>145</height>
                                        <aspectratio>keep</aspectratio>
                                        <texture>$INFO[ListItem.Icon]</texture>
                                </control>
								<control type="image">
                                        <posx>0</posx>
                                        <posy>0</posy>
                                        <width>400</width>
                                        <height>150</height>
                                        <texture border="5">RecentAddedBack.png</texture>
                                </control>
                                <control type="label">
                                        <posx>40</posx>
                                        <posy>10</posy>
                                        <width>360</width>
                                        <height>20</height>
                                        <font>font24_title</font>
                                        <textcolor>white</textcolor>
                                        <align>left</align>
                                        <aligny>center</aligny>
                                        <label>$INFO[ListItem.Label]</label>
                                </control>
                                <control type="textbox">
                                        <posx>40</posx>
                                        <posy>30</posy>
                                        <width>350</width>
                                        <height>80</height>
                                        <font>font12</font>
                                        <textcolor>grey2</textcolor>
                                        <align>left</align>
                                        <label>$INFO[ListItem.Label2]</label>
                                </control>
                           </itemlayout>
                        <focusedlayout height="150" width="420">
						        <control type="image">
                                        <posx>250</posx>
                                        <posy>0</posy>
                                        <width>150</width>
                                        <height>145</height>
                                        <aspectratio>keep</aspectratio>
                                        <texture>$INFO[ListItem.Icon]</texture>
                                </control>
                                <control type="image">
                                        <posx>0</posx>
                                        <posy>0</posy>
                                        <width>400</width>
                                        <height>150</height>
                                        <texture border="5">RecentAddedBack.png</texture>
                                </control>

                                <control type="label">
                                        <posx>40</posx>
                                        <posy>10</posy>
                                        <width>360</width>
                                        <height>20</height>
                                        <font>font24_title</font>
                                        <textcolor>selected</textcolor>
                                        <align>left</align>
                                        <aligny>center</aligny>
                                        <label>$INFO[ListItem.Label]</label>
                                </control>
                                <control type="textbox">
                                        <posx>40</posx>
                                        <posy>30</posy>
                                        <width>350</width>
                                        <height>100</height>
                                        <font>font12</font>
                                        <textcolor>grey2</textcolor>
                                        <align>left</align>
                                        <label>$INFO[ListItem.Label2]</label>
                                </control>
                        </focusedlayout>
                        <content>
                                <item id="1">
                                        <label>480</label>
                                        <label2>31400</label2>
                                        <onclick>ActivateWindow(AppearanceSettings)</onclick>
                                        <icon>icon_home.png</icon>
                                </item>
                                <item id="2">
                                        <label>157</label>
                                        <label2>31401</label2>
                                        <onclick>ActivateWindow(VideosSettings)</onclick>
                                        <icon>icon-video.png</icon>
                                </item>
                                <item id="3">
                                        <label>2</label>
                                        <label2>31402</label2>
                                        <onclick>ActivateWindow(MusicSettings)</onclick>
                                        <icon>icon_music.png</icon>
                                </item>
                                <item id="4">
                                        <label>1</label>
                                        <label2>31403</label2>
                                        <onclick>ActivateWindow(PicturesSettings)</onclick>
                                        <icon>icon_pictures.png</icon>
                                </item>
                                <item id="5">
                                        <label>8</label>
                                        <label2>31404</label2>
                                        <onclick>ActivateWindow(WeatherSettings)</onclick>
                                        <icon>icon-weather.png</icon>
                                </item>
                                <item id="6">
                                        <label>24001</label>
                                        <label2>31408</label2>
                                        <onclick>ActivateWindow(AddonBrowser)</onclick>
                                        <icon>icon_addons.png</icon>
                                </item>
                                <item id="7">
                                        <label>14036</label>
                                        <label2>31410</label2>
                                        <onclick>ActivateWindow(ServiceSettings)</onclick>
                                        <icon>icon-network.png</icon>
                                </item>
                                <item id="8">
                                        <label>13000</label>
                                        <label2>31406</label2>
                                        <onclick>ActivateWindow(SystemSettings)</onclick>
                                        <icon>icon_system.png</icon>
                                </item>
                                <item id="9">
                                        <label>166</label>
                                        <label2>31407</label2>
                                        <onclick>ActivateWindow(1111)</onclick>
                                        <icon>icon_big_skin.png</icon>
                                        <visible>false</visible>
                                </item>
                        </content>
                </control>
		</control>
		<include>ContentPanelBackgrounds</include>
		<include>CommonNowPlaying</include>
		<include>MainWindowMouseButtons</include>
		<include>BehindDialogFadeOut</include>
		<include>Clock</include>
	</controls>
</window>
